Examples/AlarmReceiverExample/.idea/workspace.xml
Examples/AlarmReceiverExample/.idea/compiler.xml
Examples/AlarmReceiverExample/.idea/copyright/profiles_settings.xml
Examples/AlarmReceiverExample/.idea/encodings.xml
Examples/AlarmReceiverExample/.idea/misc.xml
Examples/AlarmReceiverExample/.idea/modules.xml
Examples/AlarmReceiverExample/.idea/scopes/scope_settings.xml
Examples/AlarmReceiverExample/.idea/vcs.xml
Examples/AlarmReceiverExample/.idea/workspace.xml
LifeReminders/.gradle
LifeReminders/local.properties
LifeReminders/.idea/workspace.xml
LifeReminders/.idea/libraries
LifeReminders/.DS_Store
LifeReminders/build
