Examples/AlarmReceiverExample/.idea/workspace.xml
Examples/AlarmReceiverExample/.idea/compiler.xml
Examples/AlarmReceiverExample/.idea/copyright/profiles_settings.xml
Examples/AlarmReceiverExample/.idea/encodings.xml
Examples/AlarmReceiverExample/.idea/misc.xml
Examples/AlarmReceiverExample/.idea/modules.xml
Examples/AlarmReceiverExample/.idea/scopes/scope_settings.xml
Examples/AlarmReceiverExample/.idea/vcs.xml
Examples/AlarmReceiverExample/.idea/workspace.xml
LifeReminders/.gradle
LifeReminders/local.properties
LifeReminders/.idea/workspace.xml
LifeReminders/.idea/libraries
LifeReminders/.DS_Store
LifeReminders/build
AlarmProcedures/out
AlarmProcedures/.idea/workspace.xml
AlarmProcedures/.idea/compiler.xml
AlarmProcedures/.idea/copyright/profiles_settings.xml
AlarmProcedures/.idea/encodings.xml
AlarmProcedures/.idea/misc.xml
AlarmProcedures/.idea/modules.xml
AlarmProcedures/.idea/scopes/scope_settings.xml
AlarmProcedures/.idea/vcs.xml
AlarmProcedures/.idea/workspace.xml
AlarmProcedures/.gradle
AlarmProcedures/local.properties
AlarmProcedures/.idea/workspace.xml
AlarmProcedures/.idea/libraries
AlarmProcedures/.DS_Store
AlarmProcedures/build
